.adminaddmates {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.lancement {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 5vh;
}

.encart {
	margin-top: 40px;
}

.lesinfos {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	border-radius: 25px 25px 25px 25px;
	border: solid 2px black;
	width: 70vw;
}

.equipiers {
	display: grid;
	padding: 10px;
	grid-template-columns: repeat(auto-fill, minmax(200px, 0.4fr));
	grid-gap: 15px;
	justify-content: center;
}

.essai {
	display: flex;
	flex-direction: column;
	align-items: center;
	border: solid 2px black;
	width: 200px;
	height: 230px;
}

.illustration2 {
	display: flex;
	justify-content: center;
	height: 150px;
	width: 150px;
	border-radius: 50%;
}

.illustration2 img {
	height: 150px;
	width: 150px;
	border-radius: 50%;
	object-fit: cover;
}

.merci {
	display: flex;
	border-radius: 10px 10px 10px 10px;
	color: white;
	padding-left: 10px;
	padding-right: 10px;
	background-color: var(--red);
	cursor: pointer;
}

.essai2 {
	display: flex;
	justify-content: center;
	align-items: center;
	border: solid 2px black;
	width: 100%px;
	height: 280px;
}

.ajout {
	display: flex;
	padding-left: 10px;
	padding-right: 10px;
	align-items: center;
	justify-content: center;
	border-radius: 10px 10px 10px 10px;
	color: white;
	background-color: var(--main);
	cursor: pointer;
}

.annuler {
	display: flex;
	justify-content: center;
	margin-top: 10px;
	border-radius: 10px 10px 10px 10px;
	color: white;
	background-color: var(--red);
	cursor: pointer;
}

.validation {
	display: flex;
	justify-content: center;
	margin-top: 10px;
	border-radius: 10px 10px 10px 10px;
	color: white;
	background-color: var(--main);
	cursor: pointer;
}

.newcomponent {
	display: flex;
	flex-direction: column;
}

.choice {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.ok {
	display: flex;
	justify-content: center;
	margin-top: 5px;
	margin-bottom: 10px;
	border-radius: 10px 10px 10px 10px;
	color: white;
	background-color: var(--grey);
	cursor: pointer;
}

select {
	margin-bottom: 10px;
}
