.gestionUsersContainer {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.adminTitle {
  text-align: center;
  margin-top: 1%;
  margin-bottom: 2%;
}
.tableauContainer {
  margin-top: 2%;
  width: 70%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 1%;
}
.activ {
  padding: 1%;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.filtreGestionUsers {
  background-color: var(--main);
  border-radius: 35px;
  width: 30%;
  display: flex;
  color: white;
  cursor: pointer;
}
