.firstContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  position: absolute;
  top: 15%;
  left: 30%;
  justify-content: space-between;
  margin-top: 60px;
}

.titleContainer {
  display: flex;
  position: absolute;
  top: 15%;
  left: 30%;
}

input {
  border: 1px solid black;
  border-radius: 3px;
  outline: none;
  box-shadow: 3px;
}
.name {
  background-color: white;
  border: 1px solid black;
  width: 400px;
  height: 30px;
}

.domaine {
  width: 300px;
  height: 30px;
}

.descriptionProject {
  width: 550px;
  height: 130px;
  margin: 0;
}

.region {
  width: 150px;
  height: 30px;
}

.photoContainer {
  width: 115px;
  height: 115px;
  border: 1px solid black;
}

.fourthContainer {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  left: 145%;
  bottom: 80%;
}

.buttonContainer {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  left: -3%;
  bottom: -37%;
  width: 114%;
}

.holderButton {
  display: flex;
  align-items: flex-end;
  position: absolute;
  top: 115%;
  left: 32%;
  width: 100%;
}

.firstButton {
  height: 30px;
  width: 180px;
}

.date {
  display: flex;
  align-items: flex-start;
}

.sixthContainer {
  display: flex;
  flex-direction: column;
}

/* .calendar {
    width: 100px;
    height: 100px;
} */

.css-1lwbda4-MuiStack-root {
  /* margin-block: 10px;
    margin-inline: 0; */
  margin: 10px 0;
}

.css-1sumxir-MuiFormLabel-root-MuiInputLabel-root {
  color: rgb(0 0 0) !important;
  font-size: 19px !important;
}

.css-1d3z3hw-MuiOutlinedInput-notchedOutline {
  border-color: rgb(0 0 0) !important;
}

.secondButton {
  height: 35px;
  width: 150px;
  background-color: rgba(9, 171, 133, 1);
  color: white;
}

.selectRegion {
  width: 165px;
  height: 46px;
  border: 1px solid black;
  border-radius: 3px;
}

.selectDomaine {
  width: 165px;
  height: 40px;
  border: 1px solid black;
  border-radius: 3px;
}
