.join {
  display: flex;
  justify-content: center;
  margin-top: 3%;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.userdomain {
  display: flex;
  align-items: center;
}

.userinfos {
  display: flex;
  color: var(--main);
  margin-bottom: 1%;
  margin-top: 1%;
}

.password-container {
  display: flex;
  align-items: center;
}

.location-container {
  display: flex;
  width: 500px;
  flex-direction: row;
  align-items: center;
}

.social-container {
  display: flex;
  align-items: center;
}

.description-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 94px;
  width: 600px;
}

.infos-container {
  display: flex;
  align-items: center;
  margin-top: 3%;
}

.description-input {
  height: 95px;
  width: 600px;
}

.description {
  margin-bottom: 20px;
  color: var(--darkgrey);
}

.form-container {
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.2);
  position: relative;
  height: 1200px;
  display: grid;
  margin-left: 10%;
  width: 80%;
  margin-top: 3%;
}

.form-content {
  background: darkblue 0%;
  position: relative;
}

.form-img-2 {
  width: 100%;
  height: 79%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.form-user {
  position: absolute;
  display: flex;
  top: 70%;
  left: 50%;
  transform: translate(-30%, -40%);
  width: 100%;
  align-items: baseline;
  justify-content: center;
  flex-direction: column;
}

.form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form h1 {
  font-size: 2rem;
  text-align: center;
  width: 80%;
  margin-bottom: 3rem;
  color: #fff;
}

.form-inputs {
  margin-bottom: 0.5rem;
  width: 85%;
}

.form-inputs p {
  font-size: 0.8rem;
  margin-top: 0.5rem;
  color: #f00e0e;
}

.form-label {
  display: inline-block;
  font-size: 0.8rem;
  margin-bottom: 6px;
  color: var(--white);
}

.form-input {
  display: block;
  padding-left: 10px;
  outline: none;
  border-radius: 2px;
  height: 40px;
  width: 100%;
  border: none;
}

.form-input::placeholder {
  color: var(--darkgrey);
  font-size: 13px;
}

.form-input-btn:hover {
  cursor: pointer;
}

.selectDomain {
  width: 165px;
  height: 40px;
}

.selectSubdomain {
  width: 165px;
  height: 40px;
}

.avatarContainer {
  width: 115px;
  height: 115px;
  border: 1px solid black;
}
