.join {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
}

.userdomain {
  display: flex;
  align-items: center;
  padding-left: 2%;
}

.userinfos {
  display: flex;
  color: var(--main);
  margin-bottom: 1%;
  margin-top: 1%;
}

.password-container {
  display: flex;
  align-items: center;
}

.location-container {
  display: flex;
  width: 500px;
  flex-direction: row;
  align-items: center;
}

.social-container {
  display: flex;
  align-items: center;
}

.description-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 94px;
  width: 600px;
  padding-bottom: 20px;
}

.infos-container {
  display: flex;
  align-items: center;
}

.description-input {
  height: 95px;
  width: 600px;
}

.description {
  margin-bottom: 20px;
  color: var(--darkgrey);
}

.form-img-2 {
  width: 100%;
  height: 79%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.form-success {
  text-align: center;
  font-size: 24px;
  margin-top: 80px;
  color: #fff;
}

.form-user {
  /* position: absolute; */
  display: flex;
  /* top: 70%; */
  /* left: 50%; */
  /* transform: translate(-30%, -40%); */
  /* width: 100%; */
  /* align-items: baseline; */
  justify-content: center;
  flex-direction: column;
}

.form h1 {
  font-size: 2rem;
  text-align: center;
  width: 80%;
  margin-bottom: 3rem;
  color: #fff;
}

.infos-inputs {
  display: block;
  margin-bottom: 1rem;
  padding-left: 2%;
}

.password-inputs {
  display: block;
  margin-bottom: 1rem;
  padding-left: 2%;
}

.location-inputs {
  display: block;
  margin-bottom: 1rem;
  padding-left: 2%;
}

.social-inputs {
  display: block;
  margin-bottom: 1rem;
  padding-left: 2%;
}

.infos-inputs p {
  font-size: 0.8rem;
  margin-top: 0.5rem;
  color: #f00e0e;
}

.form-label {
  display: inline-block;
  font-size: 0.8rem;
  margin-bottom: 6px;
  color: var(--darkgrey);
}

.form-input {
  display: block;
  border: none;
  padding-left: 10px;
  outline: none;
  border-radius: 2px;
  height: 40px;
  background-color: white;
}

.form-input::placeholder {
  color: var(--darkgrey);
  font-size: 13px;
}

.form-input-btn {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 45px;
  border-radius: 2px;
  background-color: var(--second);
  outline: none;
  border: none;
  color: #fff;
  font-size: 1rem;
  padding: 12px;
  margin: 20px;
}

.form-input-btn:hover {
  cursor: pointer;
}

.selectDomain {
  width: 200pxpx;
  height: 40px;
  border-radius: 0px;
  border: 0px solid;
  padding: 10px;
}

.selectSubdomain {
  width: 165px;
  height: 40px;
}
