.homeBanner {
  height: 94vh;
  width: 100vw;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: center;
  overflow: hidden;
}

.homeBanner img {
  width: 100%;
  height: max-content;
}

.overlayBanner {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 45%;
  color: white;
  width: 50%;
}

.quoteAuthor {
  align-self: flex-end;
}

.sections {
  height: 100vh;
  width: 100vw;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.homePresentation {
  width: 100%;
  height: 50%;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  padding: 2%;
  margin: 10vh 0vw;
}

.framePresentation {
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 5vw;
  border: 1px solid lightgreen;
  justify-content: center;
}

.framePresentation p {
  margin: 1vh;
}

.btnNousrejoindre {
  position: relative;
  /* right: -80%; */
  transform: translate(0px, 13vh);
  /* top: 55%; */
  align-self: flex-end;
  justify-self: flex-end;
  background-color: darkred;
  padding: 1vw 2vw;
  border-radius: 5px;
  color: whitesmoke;
  cursor: pointer;
  max-width: 200px;
  max-height: 96px;
}

.homeDoneProjects {
  width: 100%;
  height: 50%;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10vw;
  margin: 2vh 0vh 0vh 0vw;
}
.homeProjectDone {
  width: 30vw;
  height: 30vh;
  background-color: red;
}

.tousLesProjets {
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tousLesProjetsBtn {
  margin: 7vh;
  display: flex;
  background-color: #036eff;
  color: whitesmoke;
  width: 20vw;
  height: 10vh;
  border-radius: 0.5vw;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.comments {
  background-color: transparent;
  margin: 16vh 0vw 3vh 0vw;
}

.containerComments {
  width: 80%;
  display: flex;
  justify-content: space-around;
  padding: 5vw 5vw 0vw 5vw;
}
.comment {
  display: flex;
  width: 20vw;
  height: 30vh;
  background-color: transparent;
  border: 1px solid gold;
  border-radius: 5vh;
  flex-direction: column;
  align-items: center;
  padding: 1%;
}

.rating {
  display: flex;
  margin: 3% 7% 7% 7%;
}

.textComment {
  height: 100%;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.commentAuteur {
  text-align: end;
}

.fa-star,
.fa-star-half {
  color: gold;
}

.cta {
  color: green;
  cursor: pointer;
}

.containerSeeComments {
  width: 76%;
  display: flex;
  justify-content: center;
}
.seeComments,
.searchTalentProjectBtn {
  margin: 3vh;
  display: flex;
  background-color: #036eff;
  color: whitesmoke;
  width: 20vw;
  height: 10vh;
  border-radius: 0.5vw;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.searchTalentProjectContainer {
  margin: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 60%;
}

.fa-searchengin,
.fa-folder-tree {
  font-size: 100px;
  color: #030000;
}

.searchTalent,
.searchProject {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;

  height: 20vh;
  justify-content: space-between;
}

.footer {
  background-color: #1a1a1a;
  width: 100%;
  height: 50vh;
  padding: 5vh 2vw;
  margin-top: 5vh;
}

.containerCol {
  display: flex;
  justify-content: space-around;
}

.colFooter {
  width: 10vw;
}
.colFooterInfosParaph {
  color: grey;
}

.colFooterHeader {
  margin-bottom: 5vh;
  color: whitesmoke;
  font-weight: bold;
}

.colFooterInfosContainer {
  display: flex;
  flex-direction: column;
}

.colFooterInfos {
  color: grey;
  margin-bottom: 2vh;
  cursor: pointer;
}

.colFooterInfos:hover {
  color: whitesmoke;
}

.bottomFooter {
  width: 100vw;
  display: flex;
  justify-content: flex-end;
  padding-right: 3vw;
  color: lightgrey;
}
