.holderLogo {
  width: 100%;
}

.navbar_container {
  background-color: var(--main);
  height: 6vh;
  display: flex;
  align-items: center;
  overflow: hidden;
  width: 100vw;
}

.containerLogo {
  padding: 15px;
  width: 195px;
  max-width: 15vw;
  height: 100%;
  background-color: whitesmoke;
}

.containerLogo a {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.holderLink {
}

.accueil {
  /*   padding: 12px;
  background-color: transparent;
  width: 108px;
  height: 54px;
  color: white;
  text-align: center;
  text-decoration: none; */
}

.button {
  align-self: start;
  text-align: center;
}

.navbarBtn {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.navbarBtn:hover {
  color: var(--main);
  background-color: whitesmoke;
}

.navbarBtnActive {
  color: var(--main);
  background-color: whitesmoke;
}

.Link {
  display: flex;
  justify-content: flex-end;
  width: 76vw;
  height: 100%;
  margin: auto;
}

.Link a {
  display: flex;
  height: 100%;
  width: 5vw;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-width: 70px;
}

.holderImg {
  width: 2000px;
  height: 426px;
}

.containerConnexion {
  display: flex;
  align-content: center;
  align-items: center;
  width: 8vw;
  min-width: 70px;
  padding-right: 0.8vw;
  height: 100%;
  justify-content: center;
}

.containerConnexion a {
  display: flex;
  height: 100%;
  width: 5vw;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-width: 70px;
}

.containerConnexion:hover {
  background-color: whitesmoke;
  cursor: pointer;
}
