.navbaradmin {
  width: 60px;
  height: 90vh;
  background-color: var(--main);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  border-radius: 30px 30px 0px 0px;
  font-size: 1.25em;
  transition: 0.5s;
  z-index: 15;
}

.navbaradmin.active {
  width: 280px;
  font-size: 1.75em;
  padding-left: 10px;
  z-index: 15;
}

.gestionhome,
.gestionuser,
.gestionprojet,
.gestionannonce {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
  transition: 0.25s;
}

.gestionhome:hover,
.gestionuser:hover,
.gestionprojet:hover,
.gestionannonce:hover {
  font-size: 1.25em;
}

.nav {
  position: absolute;
  top: 5px;
  left: 5px;
  display: flex;
  width: 50px;
  height: 50px;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.7);
  justify-content: center;
  border-radius: 50%;
  transition: 0.5s;
  cursor: pointer;
}

.nav.active {
  transform: translateX(220px) rotate(540deg);
}

.nav:hover {
  background-color: white;
}

.icone {
  display: flex;
  width: 60px;
  justify-content: center;
  align-items: center;
  color: white;
}

.icone i {
  margin: 5px;
}

.text {
  opacity: 0;
  white-space: nowrap;
  margin-left: 20px;
  transition: 0.25s;
  color: white;
}

.text.active {
  opacity: 1;
}
