.join {
  display: flex;
  margin-top: 2%;
}

.form-content {
  width: 50%;
}
.form-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.userdomain {
  display: flex;
  align-items: center;
  padding-left: 1%;
  width: 100%;
}

.userinfos {
  display: flex;
  color: var(--main-dark);
  margin-bottom: 10px;
  margin-top:  10px;
}

.password-container {
  display: flex;
  align-items: center;
}

.location-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}

.social-container {
  display: flex;
  width: 100%;
}

.description-container {
  display: inline-block;
  align-items: center;
  flex-direction: column;
  height: 100px;
  width: 100%;
  padding-left: 1%;
}

.infos-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.description-input {
  min-height: 120px;
  width: 100%;
  padding: 1%;
  background: white;
}

.description-inputs {
  display: inline-block;
  width: 100%;
/*   min-height: 200px; */
}

.description {
  margin-bottom: 20px;
  color: var(--darkgrey);
}

.form-img-2 {
  width: 100%;
  height: 79%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.form-success {
  text-align: center;
  font-size: 24px;
  margin-top: 80px;
  color: #fff;
}

textarea {
  resize: none;
}

.form-user {
  display: flex;
  align-items: baseline;
  flex-direction: column;
/*   padding-top: 6%; */
}

.form-user span {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: small;
  overflow: hidden;
}

.form h1 {
  font-size: 2rem;
  text-align: center;
  width: 80%;
  margin-bottom: 3rem;
  color: #fff;
}

.infos-inputs {
  display: flex;
  margin-bottom: 1rem;
  padding-left: 1%;
  flex-direction: column;
  width: 100%;
}

.password-inputs {
  display: block;
  margin-bottom: 1rem;
  padding-left: 2%;
}

.location-inputs {
  display: block;
  margin-bottom: 1rem;
  padding-left: 1%;
  min-width: 165px;
  width: 100%;
}

.social-inputs {
  display: block;
  margin-bottom: 1rem;
  padding-left: 0.5%;
  width: 20%;

}
 .social-inputs > span {
  font-size:75%;
  white-space: nowrap;
} 

.location-inputs p {
  font-size: 0.8rem;
  margin-top: 0.5rem;
  color: #f00e0e;
}

.password-inputs p {
  font-size: 0.8rem;
  margin-top: 0.5rem;
  color: #f00e0e;
}

.infos-inputs p {
  font-size: 0.8rem;
  margin-top: 0.5rem;
  color: #f00e0e;
}

.form-label {
  display: block;
  font-size: 0.8rem;
  margin-bottom: 6px;
  color: var(--darkgrey);
}

.form-input {
  display: block;
  border: none;
  padding-left: 10px;
  outline: none;
  border-radius: 2px;
  height: 40px;
  background-color: white;
  width: 100%;
}

.form-input::placeholder {
  color: var(--darkgrey);
  font-size: 13px;
}

.profil-input-btn {
  display: flex;
  justify-content: center;
  width: 100%;
  border-radius: 3px;
  background-color: var(--main);
  color: white;
  font-size: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-top: 15px;
  text-decoration: none;
  min-width: 200px;
}

.profil-input-btn:hover {
  box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.profil-input-btn:hover {
  cursor: pointer;
}

.pDomain {
  min-width: 165px;
  width: 25%;
  height: 40px;
  margin-right: 1%;
  background-color: white;
  padding-left: 10px;
}

.selectSubdomain {
  width: 165px;
  height: 40px;
}

.btnProfilWrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.btnProfilWrapper > a{
min-width:200px;
width: 20%;
margin-left: 20px;
}

.btnProfilWrapperModif {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

.btnProfilWrapperModif > div {
  
  width: 30%;
  margin-left: 20px;
  
}
.btnProfilWrapperModif > a {
  
  width: 30%;
  margin-left: 20px;
  
}

.cancelBtn {
  background-color: transparent;
  border: 1px solid var(--main);
  color: var(--main);
 
}

.cancelBtn:hover {

  outline: 1px solid var(--main);
box-shadow: none;
font-weight: bold;
}

.infoDoubleContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.btnPublierCreer {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.btnPublierCreer > a {
  display: flex;
  flex-direction: row;
  width: 25%;
  margin-right: 20px;
  min-width: 200px;
/*   background-color: red; */
}


.btnPublierCreerSubmit {

  background-color: var(--second);
}

.colsInfos {
  display: flex;
  width: 100%;
}
.colLeftInfos {
  width: 50%;

}

.colRightInfos {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.containieravatarProfil {
  width: 200px;
  height: 200px;

  border-radius: 50% ;
  overflow: hidden;
}
.avatarProfil {
object-fit: cover;
width: 100%;
}
.AjoutAvatar {
  display: flex;
  justify-content:center;
  align-items: center;
  background-color: lightgrey;
  width: 50%;
  height: 10%;
max-height: 100px;
margin-top:10px;
border-radius: 5px;
}

.AjoutAvatar:hover {
  box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.avatarProfilModif {
  width: 50%;
}