.header {
  text-align: center;
}
.statusFilter {
  display: flex;
  flex-direction: row;
}

.allStatus {
  display: flex;
  width: 250px;
  justify-content: center;
  font-size: 1.25em;
  padding: 10px;
  background-color: #09ab85;
  color: white;
  transition: 0.5s;
}

.allStatus.active {
  background-color: #086e56;
}
