.isLaunch a {
  display: flex;
  border-radius: 20px;
  width: 450px;
  height: 150px;
  background-color: var(--second);
  justify-content: space-between;
}
.illustration {
  display: flex;
  height: 150px;
  width: 150px;
  object-fit: cover;
}
.illustration img {
  height: 150px;
  width: 150px;
  object-fit: cover;
  border-radius: 20px 0px 0px 20px;
}
.restes {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  color: white;
  text-align: center;
}
