.header {
  text-align: center;
}
.statusFilter {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.allStatus {
  display: flex;
  width: 15vw;
  justify-content: center;
  font-size: 1.25em;
  padding: 10px;
  background-color: var(--grey);
  color: white;
  transition: 0.5s;
}

.allStatus.active {
  background-color: var(--main-dark);
}

.allStatus:hover {
  background-color: var(--darkgrey);
}
