.projectgestion {
	display: flex;
	position: relative;
	flex-direction: column;
	align-items: flex-start;
	width: 100%;
	height: 50px;
	border-radius: 25px 0px 0px 25px;
	margin: 10px;
	background-color: var(--second);
	transition: 0.5s;
}

.projectgestion.active {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 100%;
	height: 220px;
	border-radius: 25px 0px 0px 25px;
	margin: 10px;
}

.premiereligne {
	display: flex;
	align-items: flex-start;
	width: 100%;
	height: 50px;
}

.descrip {
	padding: 10px;
}

.buttomreveal {
	display: flex;
	position: relative;
	align-items: center;
	justify-content: center;
	margin-left: 3px;
	margin-top: 3px;
	width: 44px;
	height: 44px;
	border-radius: 50%;
	border: solid 2px white;
	color: white;
	cursor: pointer;
}

.premierebarre {
	position: absolute;
	font-weight: bold;
	left: 13px;
	transition: 0.5s;
}

.secondebarre {
	position: absolute;
	font-weight: bold;
	right: 13px;
	transition: 0.5s;
}

.premierebarre.active {
	position: absolute;
	left: 18px;
}

.secondebarre.active {
	position: absolute;
	right: 18px;
}

.contentprojectadmin {
	display: flex;
	color: white;
	width: 100%;
	height: 100%;
	align-items: center;
	justify-content: space-around;
}

.secondeligne {
	display: none;
	transition: 0.5;
}

.secondeligne.active {
	display: flex;
	width: 100%;
	padding: 5px;
	color: white;
}

.cestlelogo {
	display: flex;
}

.cestlelogo img {
	height: 100px;
	width: 100px;
	object-fit: cover;
	border-radius: 50%;
}

.troisiemeligne {
	display: none;
}

.troisiemeligne.active {
	position: absolute;
	display: flex;
	width: 100%;
	height: 40px;
	padding-left: 10px;
	justify-content: space-between;
	align-items: center;
	bottom: 0;
	color: white;
}

.onvalide {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	width: 150px;
	height: 100%;
	background-color: var(--main);
	color: white;
	border-radius: 30px 0px 0px 0px;
	cursor: pointer;
}

.ondegage {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 150px;
	height: 100%;
	background-color: var(--red);
	color: white;
	border-radius: 30px 0px 0px 0px;
	cursor: pointer;
}

.onsupprime {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 150px;
	height: 100%;
	background-color: var(--red);
	color: white;
	cursor: pointer;
}

.lesbouttons {
	display: flex;
	height: 100%;
}
