.join {
    display: flex;
    margin-top: 2%;
  }
  
  .form-container {
    display: flex;
    justify-content: center;
  }
  
  .userdomain {
    display: flex;
    align-items: center;
    padding-left: 1%;
  }
  
  .userinfos {
    display: flex;
    color: var(--main);
    margin-bottom: 1%;
    margin-top: 1%;
  }
  
  .password-container {
    display: flex;
    align-items: center;
  }
  
  .location-container {
    display: flex;
    width: 500px;
    flex-direction: row;
    align-items: center;
  }
  
  .social-container {
    display: flex;
  }
  
  .description-container {
    display: inline-block;
    align-items: center;
    flex-direction: column;
    height: 95px;
    width: 600px;
    padding-left: 1%;
  }
  
  .infos-container {
    display: flex;
  }
  
  .description-input {
    height: 60px;
    width: 530px;
    padding-left: 1%;
  }
  
  .description-inputs {
    display: inline-block;
  }
  
  .description {
    margin-bottom: 20px;
    color: var(--darkgrey);
  }
    
  .form-img-2 {
    width: 100%;
    height: 79%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
    
  .form-success {
    text-align: center;
    font-size: 24px;
    margin-top: 80px;
    color: #fff;
  }
  
  textarea {
    resize: none;
  }
    
  .form-user {
    display: flex;
    align-items: baseline;
    flex-direction: column;
    padding-top: 6%;
  }
    
  .form h1 {
    font-size: 2rem;
    text-align: center;
    width: 80%;
    margin-bottom: 3rem;
    color: #fff;
  }
    
  .infos-inputs {
    display: flex;
    margin-bottom: 1rem;
    padding-left: 1%;
    flex-direction: column;
  }
  
  .password-inputs {
    display: block;
    margin-bottom: 1rem;
    padding-left: 2%;
  }
  
  .location-inputs {
    display: block;
    margin-bottom: 1rem;
    padding-left: 2%;
  }
  
  .social-inputs {
    display: block;
    margin-bottom: 1rem;
    padding-left: 1%;
  }
    
  .location-inputs p {
    font-size: 0.8rem;
    margin-top: 0.5rem;
    color: #f00e0e;
  }
  
  .password-inputs p {
    font-size: 0.8rem;
    margin-top: 0.5rem;
    color: #f00e0e;
  }
  
  .infos-inputs p {
    font-size: 0.8rem;
    margin-top: 0.5rem;
    color: #f00e0e;
  }
    
  .form-label {
    display: block;
    font-size: 0.8rem;
    margin-bottom: 6px;
    color: var(--darkgrey);
  }
    
  .form-input {
    display: block;
    border: none;
    padding-left: 10px;
    outline: none;
    border-radius: 2px;
    height: 40px;
    background-color: white
  }
    
  .form-input::placeholder {
    color: var(--darkgrey);
    font-size: 13px;
  }
  
  .update-input-btn {
    display: flex;
    justify-content: center;
    width: 30%;
    border-radius: 3px;
    background-color: var(--second);
    color: #fff;
    font-size: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-top: 15px;
  
  }
    
  .update-input-btn:hover {
    cursor: pointer;
  }
  
  .selectDomain {
    width: 165px;
    height: 40px;
    margin-right: 2%;
  }
  
  .selectSubdomain {
    width: 165px;
    height: 40px;
  }