.grille {
	display: grid;
	margin: 100px auto 0;
	grid-template-columns: repeat(auto-fill, minmax(550px, 0.2fr));
	grid-gap: 45px;
	justify-content: center;
}

.introtalents {
	display: flex;
	justify-content: center;
	margin-top: 30px;
	margin-bottom: 30px;
	font-size: 1.75em;
}

.selecttalent {
	display: flex;
	justify-content: center;
	align-items: center;
}

.all {
	display: flex;
	width: 250px;
	justify-content: center;
	border-radius: 25px 0px 0px 25px;
	font-size: 1.25em;
	padding: 10px;
	background-color: #09ab85;
	color: white;
	border-right: solid 1px black;
}

.select {
	display: flex;
	width: 250px;
	justify-content: center;
	border-radius: 0px 25px 25px 0px;
	font-size: 1.25em;
	padding: 10px;
	background-color: #09ab85;
	color: white;
	border-left: solid 1px black;
}
