.all {
	display: flex;
	width: 250px;
	justify-content: center;
	border-radius: 25px 0px 0px 25px;
	background-color: var(--grey);
	transition: 0.5s;
	height: 5vh;
	color: white;
	align-content: center;
	align-items: center;
}

.all:hover {
	background-color: var(--darkgrey);
}

.cancel {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.45em;
	width: 75px;
	padding: 10px;
	background-color: var(--grey);
	color: white;
	border-radius: 0px 25px 25px 0px;
	transition: 0.5s;
	height: 100%;
}

.cancel:hover {
	background-color: var(--darkgrey);
}

.cache {
	display: none;
}

.domain {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	width: 250px;
	background-color: var(--grey);
	color: white;
	border-radius: 25px 0px 0px 25px;
	-webkit-appearance: none;
	appearance: none;
	transition: 0.5s;
	height: 100%;
}

.domain:hover {
	background-color: var(--darkgrey);
}

.grille {
	display: grid;
	margin: 100px auto 0;
	grid-template-columns: repeat(auto-fill, minmax(550px, 0.2fr));
	grid-gap: 15px;
	justify-content: center;
}

.introtalents {
	display: flex;
	justify-content: center;
	margin-top: 30px;
	margin-bottom: 30px;
}

.search {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.45em;
	width: 75px;
	padding: 10px;
	background-color: var(--grey);
	color: white;
	height: 100%;
	transition: 0.5s;
}

.search:hover {
	background-color: var(--darkgrey);
}

.select {
	display: flex;
	width: 250px;
	justify-content: center;
	border-radius: 0px 25px 25px 0px;
	/* font-size: 1.25em; */
	/* padding: 10px; */
	height: 5vh;
	background-color: var(--grey);
	color: white;
	/* border: solid 2px white; */
	/* border-left: solid 1px black; */
	align-content: center;
	align-items: center;
}

.select.active {
	background-color: var(--darkgrey);
}

.select:hover {
	background-color: var(--darkgrey);
}

.selecttalent {
	display: flex;
	justify-content: center;
	align-items: center;
}

.selector {
	cursor: pointer;
	transition: 0.5s;
}
.selector.active {
	background-color: var(--darkgrey);
}

.subdomain {
	display: flex;
	position: relative;
	justify-content: center;
	align-items: center;
	width: 250px;
	background-color: var(--grey);
	color: white;
	transition: 0.5s;
	height: 100%;
}

.subdomain.active {
	background-color: var(--darkgrey);
}

.subdomain:hover {
	background-color: var(--darkgrey);
}

.thefilter {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 30px;
	height: 5vh;
}
