.all {
	display: flex;
	width: 250px;
	justify-content: center;
	border-radius: 25px 0px 0px 25px;
	font-size: 1.25em;
	padding: 10px;
	background-color: #09ab85;
	color: white;
	transition: 0.5s;
	/*border: solid 2px white;*/
	/*border-right: solid 1px black;*/
}

.all.active {
	background-color: #086e56;
}

.all:hover {
	background-color: #086e56;
}

.grille {
	display: grid;
	margin: 100px auto 0;
	grid-template-columns: repeat(auto-fill, minmax(550px, 0.2fr));
	grid-gap: 15px;
	justify-content: center;
}

.introtalents {
	display: flex;
	justify-content: center;
	margin-top: 30px;
	margin-bottom: 30px;
	font-size: 1.75em;
}

.select {
	display: flex;
	width: 250px;
	justify-content: center;
	border-radius: 0px 25px 25px 0px;
	font-size: 1.25em;
	padding: 10px;
	background-color: #09ab85;
	color: white;
	/*border: solid 2px white;*/
	/*border-left: solid 1px black;*/
}

.select.active {
	background-color: #086e56;
}

.select:hover {
	background-color: #086e56;
}

.selecttalent {
	display: flex;
	justify-content: center;
	align-items: center;
}

.thefilter {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 30px;
}

.domain {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	font-size: 1.25em;
	width: 250px;
	padding: 10px;
	background-color: #09ab85;
	color: white;
	border-radius: 25px 0px 0px 25px;
	appearance: none;
	transition: 0.5s;
}

.domain:hover {
	background-color: #086e56;
}

.subdomain {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.25em;
	width: 250px;
	padding: 10px;
	background-color: #09ab85;
	color: white;
	transition: 0.5s;
}

.subdomain.active {
	background-color: #086e56;
}

.subdomain:hover {
	background-color: #086e56;
}

.search {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.45em;
	width: 75px;
	padding: 10px;
	background-color: #09ab85;
	color: white;
	transition: 0.5s;
}

.search:hover {
	background-color: #086e56;
}

.cancel {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.45em;
	width: 75px;
	padding: 10px;
	background-color: #09ab85;
	color: white;
	border-radius: 0px 25px 25px 0px;
	transition: 0.5s;
}

.cancel:hover {
	background-color: #086e56;
}

.case {
	display: none;
}
