.cache {
  display: none;
}
.blaze,
.onejob,
.living,
.lesresals,
.description3 {
  display: flex;
  justify-content: center;
  margin: 10px;
  font-family: "Roboto", sans-serif;
  color: white;
  text-align: center;
}
.description3 {
  margin-left: 5px;
  margin-right: 5px;
  height: 100%;
  padding: 20px 0px;
}
.dispo2 {
  display: flex;
  justify-content: center;
  font-size: 1.75em;
  margin: 15px;
  color: white;
}
.lefiltre {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 5vh;
  margin-top: 20px;
  margin-bottom: 20px;
}
.lanceur {
  margin: 50px auto 0;
  padding: 0 20px;
  max-width: 88vw;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(450px, 0.2fr));
  grid-gap: 45px;
  justify-content: center;
}
.lancerbyuser {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 250px;
  padding: 10px;
  background-color: #094fabd0;
  color: white;
  border-radius: 25px 0px 0px 25px;
  appearance: none;
  transition: 0.5s;
}
.lancerbyuser:hover,
.participatebyuser:hover {
  background-color: #094fab;
  cursor: pointer;
}
.lancerbyuser.active,
.participatebyuser.active {
  background-color: #094fab;
}
.participatebyuser {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 250px;
  padding: 10px;
  background-color: #094fabd0;
  color: white;
  border-radius: 0px 25px 25px 0px;
  appearance: none;
  transition: 0.5s;
}
.perso {
  display: flex;
  justify-content: center;
  border-radius: 50%;
  margin-bottom: 10px;
}
.perso img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
}
.profil {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: flex-start;
  width: 40%;
  background-color: var(--main);
  border-radius: 40px 40px 40px 40px;
}
.projects {
  display: flex;
  flex-direction: column;
  width: 60%;
}
.UserDetail {
  display: flex;
  position: relative;
  justify-content: center;
  min-height: 94vh;
  padding: 2% 5%;
}
