.avatar img {
  margin-top: 5px;
  border-radius: 10px 0px 0px 0px;
  height: 150px;
  width: 150px;
  object-fit: cover;
}

.rightside {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: space-around;
  font-family: "Roboto", sans-serif;
}

.job {
  display: flex;
  justify-content: center;
  width: 100%;
  font-size: 2.5em;
  text-align: center;
}

.pseudo {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-right: 50px;
  font-size: 1.5em;
}

.desc {
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1em;
  font-family: "Roboto", sans-serif;
}

.content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  width: 100%;
  bottom: 0;
  height: 30px;
  font-family: "Roboto", sans-serif;
  padding: 2%;
  margin-top: 5px;
  border-radius: 10px 0px 0px 0px;
  height: 150px;
  width: 150px;
  object-fit: cover;
}

.bloque {
  color: rgba(255, 255, 255, 0.4);
}

.bye {
  color: rgb(255, 167, 167);
}

.content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  width: 100%;
  bottom: 0;
  height: 30px;
  font-family: "Roboto", sans-serif;
  padding: 4% 2%;
}

.desc {
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1em;
  font-family: "Roboto", sans-serif;
}

.head {
  display: flex;
  width: 100%;
  height: 150px;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  color: black;
  border-radius: 10px 10px 80px 10px;
}

.job {
  display: flex;
  justify-content: center;
  width: 100%;
  font-size: 2em;
  text-align: center;
}

.pseudo {
  display: flex;
  justify-content: end;
  align-items: flex-end;
  padding-right: 50px;
  font-size: 1em;
}

.rightside {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: space-around;
  font-family: "Roboto", sans-serif;
}

.userContainer {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 350px;
  width: 550px;
  margin: 5px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  background-color: var(--main);
  color: white;
}
