.firstContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    position: absolute;
    left: 30%;
    justify-content: space-between;
    margin-top: 60px;

}

.name {
    width: 300px;
    height: 30px;
}

.domaine {
    width: 300px;
    height: 30px;
}

.description {
    width: 550px;
    height: 130px;
}

.region {
    width: 150px;
    height: 30px;
}

.jour {
    width: 65px;
    height: 30px;
}

.mois {
    width: 65px;
    height: 30px;
}

.année {
    width: 65px;
    height: 30px;
}

.jourEnd {
    width: 65px;
    height: 30px;
}

.moisEnd {
    width: 65px;
    height: 30px;
}

.annéeEnd {
    width: 65px;
    height: 30px;
}

.photoContainer {
    width: 100px;
    height: 100px;
    border: 1px solid black;
}

.fourthContainer {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    left: 145%;
    bottom: 80%;
}

.buttonContainer {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    left: -3%;
    bottom: -37%;
    width: 114%;
}

.holderButton {
    display: flex;
    align-items: flex-end;
    position: absolute;
    top: 115%;
    left: 32%;
    width: 100%;
}    

.firstButton {
    height:30px;
    width: 180px;
}
