

.holderLogo {
    width: 100%;

}

.navbar_container {
 background-color: rgba(9, 171, 133, 1);
 height: 54px;
 display : flex;
 align-items: center;
}
 
.containerLogo {
    width: 180px;
}
.holderLink {
  padding: 14px;

}

.accueil {
   
    padding: 12px;
    background-color: white;
    width: 108px;
    height: 54px;
    color: black;
    text-align: center;
    text-decoration: none;
    
}

.button {
    align-self: start;
    text-align: center;
}

.Link {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    margin: auto;
    color: white;
    align-items: center;
}

.holderImg {
    width: 2000px;
    height: 426px;
}

.containerConnexion {
    display: flex;
    align-content: center;
    align-items: center;
    padding-right: 15px;
    width: 150px;
}

/* .connexion {
    display:flex;
    align-self: center;
    position:absolute;
    right: 0;
    right: 6%;
    
} */