@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
  background-color: whitesmoke;
}

a {
  text-decoration: none;
  color: white;
}
